@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-variant-ligatures: none;
  /* Or */
  font-feature-settings: "liga" 0, "clig" 0, "hlig" 0;
}
.flow::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

@keyframes fadIn {
  from {
    transform:translateY(100%) ;
  }
  to {
    transform:translateY(0px) ;
  }
}

@keyframes fadOut {
  from {
    transform:translateY(0%) ;
  }
  to {
    transform:translateY(100%);
  }
}

.pop {
  transform:translateY(100%) ;
  animation: fadIn 0.5s forwards;
}

/* Apply the fade-out animation */
.pop-hidden {

  animation: fadOut 0.5s forwards;
}